<div class="be-content">
    <div class="page-head">
        <div class="col-12 col-md-12 col-lg-12" style="text-align:right; color: black;">
        
          Hiển thị &nbsp;<label class="mr-3"><select class="custom-select" >
            <option [ngValue]="1">1 </option>
            <option [ngValue]="5">5 </option>
            <option [ngValue]="8">8 </option>
            <option [ngValue]="10">10 </option> 
            <option [ngValue]="15">15 </option>
        </select></label>
          Tổng số &nbsp;<ins ng-bind="totalItems" class="text-info"></ins>&nbsp; bản ghi
        <input type="text"style="width:200px;"placeholder="Tìm kiếm theo tên..."> 
      </div>
      
    </div>
    <div class="idin-content container-fluid">
        <div class="row">
              <div class="col-sm-12">
                <div class="card card-table"> 
                 
                    <div class="card-body">
                        <table class="table table-striped table-hover table-fw-widget" id="excel_luongthang">
                            <thead>
                                <tr style="background-color: aquamarine;">
                                    <th>STT</th>
                                    <th>Tên nhân viên</th>
                                  
                                    <th>Ngày hợp lệ</th>
                                    <th>Ngày thiếu</th>
                                    <th>Ngày công chết</th>
                                    <th>Tháng</th>
                                  
                                    <th>Lương thỏa thuận</th>
                                    <th> Thưởng </th>
                                    <th>Phạt</th>
                                    <th>Phụ cấp</th>
                                    <th>Lương nhận được</th>
                                 
                                    
                                    <th>Người xử lý</th>
                                    <!-- <th></th> -->
                                  
                                </tr>
                            </thead>
                            <tbody>
                          
                                  <tr *ngFor="let it of luongnv ; let i= index">
                                    <td>{{++i+1}}</td>
                                      <td>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035976'" >Do Thi Quynh</span>
                                        <span *ngIf="it.idnv=='3197F0F2-35D3-4231-919D-1CFCF4035979'" >Đỗ Huy Hoàng</span>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035977'" >Do Thi Ly</span>
                                        <span *ngIf="it.idnv=='019a1506-d9fb-4164-a9f2-a648d59322c7'" >Đỗ  Bảo Thanh</span>
                                        <span *ngIf="it.idnv=='17e782c9-d0cd-4a44-baa5-46a7990384e2'" >Đỗ Thu Diệp</span>
                                        <span *ngIf="it.idnv=='27f4d8ec-ff2a-4f0c-82ce-e65c6bf598e4'" >Đỗ Hoài An</span>
                                        <span *ngIf="it.idnv=='2a5c4eff-cb61-46e9-9acb-4f9d4bbe7861'" >Đỗ Khả Hân</span>
                                        <span *ngIf="it.idnv=='2b73c881-9ae6-4f92-bccc-f1900b3bbeff'" >Đỗ Minh Anh</span>
                                        <span *ngIf="it.idnv=='2e205c5c-409b-47b2-b5b7-9470c5ec4f67'" >Đỗ Bích Diệp</span>
                                        <span *ngIf="it.idnv=='310816be-32cb-41b5-be3e-d60fee9e2118'" >Đỗ Thu Nguyệt</span>
                                        <span *ngIf="it.idnv=='34625ff9-4063-4dea-9464-70665b7f1095'" >Đỗ Quỳnh Nhi</span>
                                        <span *ngIf="it.idnv=='496e3113-e125-4edd-b376-91b20cf91b3c'" >Đỗ  Hồng Nhung</span>
                                        <span *ngIf="it.idnv=='4bb9fb88-64aa-4ae2-9dde-3f2a7edaaf1f'" >Đỗ Kim Thanh</span>
                                        <span *ngIf="it.idnv=='4de721dd-96d7-4fcb-8676-52c40896a6a2'" >Đỗ Thùy Anh</span>
                                        <span *ngIf="it.idnv=='50bc562d-1f25-49ce-b3f5-2c694673cbcf'" >Đỗ Thanh Trúc</span>
                                        <span *ngIf="it.idnv=='5fd27f1b-e889-4ba5-b407-4d579237a978'" >Đỗ Huyền Anh</span>
                                        <span *ngIf="it.idnv=='7626f612-4e91-45e5-b739-efc5213e6fda'" >Đỗ Trâm Anh</span>
                                        <span *ngIf="it.idnv=='853c017f-13b6-4a71-b845-b081af2e5863'" >Đỗ Nguyệt Ánh</span>
                                        <span *ngIf="it.idnv=='8c81d052-13ee-40e8-804a-5abae2574a89'" >Đỗ Tú Uyên</span>
                                        <span *ngIf="it.idnv=='9472cfb9-35ac-4c2e-a7b6-97f85d0b42ae'" >Đỗ Khánh Linh</span>
                                        <span *ngIf="it.idnv=='9a06948d-a47f-4646-b37d-dec781e313cf'" >Đỗ  Tuyết Lan</span>
                                        <span *ngIf="it.idnv=='cc66abf1-a564-4ca2-9167-5c426b4dee68'" >Đỗ Gia Hân</span>
                                        <span *ngIf="it.idnv=='ddba3424-cb26-4759-b7bd-fd2cc5e2b041'" >Đỗ Diễm My</span>
                                        <span *ngIf="it.idnv=='de68c2ab-6814-4a28-bd48-2b780ecc40d6'" >Đỗ Tuệ Nhi</span>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035971'" >Phạm Thanh Giang</span>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035972'" >Lê Thanh Quang</span>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035973'" >Nguyễn Văn Hùng</span>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035974'" >Lê Thành An</span>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035978'" >Trương Hoàng Nhất</span>
                                        <span *ngIf="it.idnv=='3297F0F2-35D3-4231-919D-1CFCF4035979'" >Hoàng Văn Thanh</span>
                                        <span *ngIf="it.idnv=='3307F0F2-35D3-4231-919D-1CFCF4035979'" >Pham min</span>

                                 
                                      </td>
                                      <td>{{it.ngayconghople }}</td>
                                      <td>{{it.ngaycongkohople}}</td>
                                      <td>{{it.ngaykhongduoctinh}}</td>
                                      <td>{{it.thang}}</td>
                                      <td>{{it.luongthang|number}}</td>
                                      <td>{{it.thuong|number}}</td>
                                      <td>{{it.phat|number}}</td>
                                      <td>{{it.phucap|number}}</td>
                                      <td>{{it.luongnhandc|number}}</td>
                                      <td>
                                          {{it.nguoixuly}} 
                                      </td>
                                     
                                  </tr>
                               
                            </tbody>
                        </table>
                        <!-- <div class="d-flex justify-content-between p-2">
                          <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItem">
                          </ngb-pagination>
                        </div>
                        -->
                          <!-- <button type="button" class="btn btn-success" (click)="exportExcelLT()" style="float: right; margin-top: 5px; margin: 20px;">Export</button>
                          <button  style="margin-left: 85%;" (click)="Delete()" class="btn btn-danger">
                            Xóa dữ liệu
                              </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
