<div class="be-content">
    <div class="page-head">
    <div class="col-12 col-md-12 col-lg-12">
<div class="row" style="padding:10px; border-width: 1px;">
	<div class="col-12" >
    <div class="page-title-box" >
        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a [routerLink]="['/homes/chinhanh']" >Homes</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/homes/chinhanh']">chinhanh</a></li>
               
            </ol>
        </div>
       
    </div>
</div>
	</div>
       
       

            <!-- <button type="button" class="btn btn-success"><a style="color:white;" name="save" href="{{ route('admin.tinhluong') }}"> Tính lương</a> </button> -->
            
           <div style="padding: 15px;">
            <button type="button" class="btn btn-success" (click)="openModel(true,null)"><a style="color:white;" name="save">Thêm bản ghi </a></button>
           </div>
            <div class="row">
	
            </div>
              <div class="col-12 col-md-12 col-lg-12" style="margin-top: 25px;height: 45px;">
                
               
               <div style="padding-left:60%; margin-top:-40px;">
                Hiển thị &nbsp;<label class="mr-3"><select class="custom-select" (ngModelChange)="loadData($event)" [(ngModel)]="pageSize">
                  <option [ngValue]="1">1 </option>
                  <option [ngValue]="5">5 </option>
                  <option [ngValue]="8">8 </option>
                  <option [ngValue]="10">10 </option> 
                  <option [ngValue]="15">15 </option>
              </select></label>
                Tổng số &nbsp;<ins ng-bind="totalItems" class="text-info"></ins>&nbsp; bản ghi
                
                <!-- <input type="text"  [(ngModel)]="filterBy" style="border:none;width:200px;"placeholder="Tìm kiếm theo tên..."> &nbsp; -->
               </div>
              
                </div>
       <div style="padding-left:78%; margin-top:-35px;" >
        <ul class="navbar-nav mr-3">
                      
          <li>
              <form class="form-inline mr-auto"  #Formchinhanh="ngForm" (ngSubmit)="LoadData()" >
                  <div class="search-element">
                      <input class="form-control" #tencn="ngModel" name="tencn" [(ngModel)]="chinhanh.tencn" type="search" placeholder="Nhập thông tin tìm kiếm........" aria-label="Search">
                          &nbsp;&nbsp;
                      <button class="btn btn-success" style="margin-top: -3px;" type="submit">
                          <i class="fas fa-search"></i>
                      </button>
                  </div>
              </form>
          </li>
      </ul>
  
       </div>
            </div>
            

        
    </div>
    <div class="idin-content container-fluid">
     
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-header">
                    </div>

                    <div class="card-body">
                        <table class="table table-striped table-hover table-fw-widget">
                            <thead>
                                <tr style="background-color: aquamarine;">                                  
                                    <th>Stt</th>
                                    <th>Tên chi nhánh</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th></th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let it of list_item | filter:filterBy; let i= index ">
                                    <td>{{++i+1}}</td>
                                    <td>{{it.tencn}}</td>
                                    <td style="width:40%;">{{it.diachi}}</td>
                                   
                                    <td>{{it.sdt}}</td>
                                    <td>{{it.email}}</td>
                                                <td>
                                                    <button data-toggle="modal" data-target=".bd-example-modal-lg" title="Sửa" (click)="openModel(false,it)"
                                                    class="btn btn-icon btn-primary">
                                                    <i class="fas fa-edit"></i>
                                                    </button>
                                                    
                                                    <button title="Xóa" (click)="DeleteModel(it.id)" style="color: #fff" class="btn btn-icon btn-warning">
                                                    <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="loadPage($event)" (page)="page" (pageSize)="pageSize" (collectionSize)="totalItem" ></pagination-controls> -->
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItem">
                          </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="largeModal">
<div class="modal-dialog modal-lg">
 <form name="formLogin" (ngSubmit)="chinhanhs()" #Formchinhanh="ngForm">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" *ngIf="!isEdit"><span>Thêm chi nhánh</span></h5>
      <h5 class="modal-title" *ngIf="isEdit"><span>Sửa chi nhánh</span></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
               Tên chi nhánh <span style="color:red ;">*</span>:
                </label>
                <div class="col-sm-12 col-md-7">
                                                       <!-- chubobaidinh mang 2 chieu -->
                <input type="text" class="form-control" [(ngModel)]="chinhanh.tencn" name="tencn" #tencn="ngModel"  placeholder="Nhập tên chi nhánh..." required>       
                <small *ngIf="!tencn?.valid && (tencn?.dirty||tencn.touched)"class="help-block">Tên chi nhánh không hợp lệ !</small>
            </div>
         </div>
         <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
              Điện thoại<span style="color:red ;">*</span>:
            </label>
            <div class="col-sm-12 col-md-7">
              <input type="text" class="form-control"  placeholder="Nhập số điện thoại..." pattern="^(0[35789][0-9]{8})$" #sdt="ngModel" [(ngModel)]="chinhanh.sdt"  name="sdt"
                required>
              <small *ngIf="!sdt?.valid && (sdt?.dirty||sdt.touched)"class="help-block">Số điện thoại không hợp lệ !</small>
            </div>
        </div>
        <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
              Địa chỉ<span style="color:red ;">*</span>:
            </label>
            <div class="col-sm-12 col-md-7">
              <input type="text" class="form-control"  placeholder="Nhập địa chỉ..." #diachi="ngModel" [(ngModel)]="chinhanh.diachi" name="diachi"
                required>
                <small *ngIf="!diachi?.valid && (diachi?.dirty||diachi.touched)"class="help-block">Địa chỉ không hợp lệ !</small>
            </div>
        </div>
       
      <div class="form-group row mb-4">
        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
        Email<span style="color:red ;">*</span>:
        </label>
        <div class="col-sm-12 col-md-7">
          <input type="email" class="form-control"  placeholder="Nhập email..." #email="ngModel" pattern="^[A-Za-z][\w$.]+@[\w]+\.\w+$" [(ngModel)]="chinhanh.email" name="email"  required>
          <small *ngIf="!email?.valid && (email?.dirty||email.touched)"class="help-block">Email không hợp lệ !</small>
        </div>
      </div>
        
        <div class="text-right">
          <button type="button" class="btn btn-icon icon-left btn-success" (click)="closeModal()">Close</button>&nbsp;
          <button type="submit" class="btn btn-icon icon-left btn-success" *ngIf="!isEdit" (click)="addchinhanh()"  id="btnSubmit" >
            <i class="fas fa-check"></i>
            <span>Saves</span>
             </button>
             &nbsp;
          <button type="submit" class="btn btn-icon icon-left btn-success" *ngIf="isEdit" (click)="Editchinhanh()" id="btnSubmit" >
            <i class="fas fa-check"></i>
            <span>Save</span>
          </button>
        </div>
    </div>
  </div>
 </form>
</div>
</div>
